body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #fff;
}
*,
*:before,
*:after{
  box-sizing: border-box;

}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
/* Container */
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* Intro */
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/intro.jpg") 
  center no-repeat;
  background-size: cover;
}
.intro__inner{
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.intro__title{
  color: #fff;
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.intro__title::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 60px auto;
}
.intro__suptitle{
  
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  color: #fff;
  text-align: center;
}
/*Header*/
.header{
  padding-top: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner{
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo{
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
/*nav*/
.nav{ 
  font-size: 14px;
  text-transform: uppercase ;
}
.nav__link{
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: #fff;
  position: relative;
  text-decoration: none;
  transition: color .1s linear;
}
.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  background-color: #fce38a;;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.nav__link:hover{
  color: #fce38a;
}

.nav__link:hover::after,
.nav__link.active:hover::after{
  opacity: 1;
}
.nav__link.active:hover::after{
  background-color: #fce38a;
}
/*Button*/
.btn{
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: background .1s linear, color .1s linear;

}
.btn:hover{
background-color: #fff;
color: #333;
}
/*Slider*/
.slider{
  display: flex;
  justify-content: space-between;
  margin-top: 30px ;
}
.slider__item{
  width: 24%;
  opacity: .7;
  position: relative;
  padding: 20px 0;
  border-top: 3px solid #fff;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
.slider__item.active{
  opacity: 1;
}
.slider__item.active::before{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top:-3px;
  left: 0;
  z-index: 1;

}
.slider__num{
  font-size: 24px;
  font-weight: 700;
}